<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <script defer src="/static/js/script.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>
<body>
<div id="header-right">
    <p>You are logged in as ... </p>
    <a class="btn btn-outline-secondary" id="reg-button" href="/registration" data-toggle="modal"
       data-target="#registration-modal"></a>
    <a class="btn btn-outline-secondary" id="login-button" href="/login" data-toggle="modal"
       data-target="#login-modal"></a>
    <a class="btn btn-outline-secondary" id="cart-button" href="/cart"></a>
</div>
<div class="jumbotron text-center">
    <h1><a href="/" style="text-decoration: none">Codecool Shop</a></h1>
    <!--    <div id="header-right">-->
    <!--        <a class= "btn btn-primary-outline" id = "reg-button" href="/registration"></a>-->
    <!--        <a class= "btn btn-primary-outline" id = "login-button" href="/login"></a>-->
    <!--        <a class="btn btn-primary-outline" id="cart-button" href="/cart"></a>-->
    <!--    </div>-->
</div>

<div class="modal" id="login-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/login" method="post">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                    <br>
                    <button type="submit" value="submit" class="btn btn-primary" id="login">Let's log in</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="registration-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/registration" method="post">
                    <label for="uname">Username</label>
                    <input type="text" name="username" id="uname" class="form-control">
                    <label for="passwd">Password</label>
                    <input type="password" name="password" id="passwd" class="form-control">
                    <label for="email">Email address</label>
                    <input type="text" name="email" id="email" class="form-control">
                    <label for="phone">Phone number</label>
                    <input type="text" name="phone" id="phone" class="form-control">
                    <label for="badress">Billing Address</label>
                    <input type="password" name="badress" id="badress" class="form-control">
                    <label for="sadress">Shipping adress</label>
                    <input type="text" name="username" id="sadress" class="form-control">
                    <br>
                    <button type="submit" value="submit" class="btn btn-primary" id="register">Let's register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<form action="/" method="get">
    <label for="prod-supp-select" style="font-size: 1.5em; font-weight: bolder; margin-left: 1em">Choose product by category or supplier</label><br>
    <select id="prod-supp-select" name="prod-or-cat" style="width: 6em; height: 2em; margin-left: 1em; padding: .3em">
        <optgroup label="Product category">
            <option th:value="${category.getName()}" th:text="${category.getName()}" th:each="category : ${productCategories}"></option>
        </optgroup>
        <optgroup label="Supplier">
            <option th:each="supp : ${suppliers}" th:value="${supp.getName()}" th:text="${supp.getName()}"></option>
        </optgroup>
    </select>
    <input type="submit" value="Submit" style="margin: 1em; width: 6em; height: 2em">
</form>

<div id ="prod-cat-choose" th:switch="${prodCat}">
    <div th:case="null">

        <div class="container" th:each="cat : ${categories}">

            <br>
            <p th:text="${cat.getName()}" style="font-weight: bold; font-size: 2em">Category Title</p>
            <br>

            <div id="products" class="row">
                <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}" th:if="${cat.getName().equals(prod.getProductCategory().getName())}">
                    <div class="card">
                        <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                        <div class="card-header">
                            <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                            <p class="card-text" th:text="${prod.description}">Product description... </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="card-text">
                                 <button class="btn btn-success" name="button" th:id="${prod.id}">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:each="category : ${productCategories}" th:case="${category.getName()}">
        <div class="container">

            <br>
            <p th:text="${category.getName()}" style="font-weight: bold">Category Title</p>

            <div id="products1" class="row">
                <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}" th:if="${category.getName().equals(prod.getProductCategory().getName())}">
                    <div class="card">
                        <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                        <div class="card-header">
                            <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                            <p class="card-text" th:text="${prod.description}">Product description... </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="card-text">
                                <button class="btn btn-success" name="button" th:id="${prod.id}">Add to cart</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:each="supplier : ${suppliers}" th:case="${supplier.getName()}">
        <div class="container">

            <br>
            <p th:text="${supplier.getName()}" style="font-weight: bold">Category Title</p>

            <div id="products2" class="row">
                <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}" th:if="${supplier.getName().equals(prod.getSupplier().getName())}">
                    <div class="card">
                        <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                        <div class="card-header">
                            <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                            <p class="card-text" th:text="${prod.description}">Product description... </p>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                            </div>
                            <div class="card-text">
                                <button class="btn btn-success" name="button" th:id="${prod.id}">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>